// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~venobox/dist/venobox.min.css";
@import "~sweetalert2/src/sweetalert2";

.uploader_ui{
    width: 100px;
    height: 100px;
}


//.table tr th:nth-child(3){
//    width: 100px !important;
//}


td [data-gall]:first-child .image_ui{
    margin-left: 0;
}
.image_ui{
    margin-right: -50px;
}

.uploader-ui{
    width: 100px;
    height: 100px;
}

td [data-gall]:first-child .list-thumbnail{
    margin-left: 0;
}

.list-thumbnail{
    margin-left: -30px;
}

